/metadata.parquet
/non-news-content.parquet
/news-us.parquet
/non-news-us.parquet
/content-news-us.parquet
/content-non-news-us.parquet
/imputed-reactions.parquet
/comscore.parquet
/paramount.parquet
/paramount-content.parquet
/statista-facebook-users.xlsx
/posts-2025
/2025
/2025.parquet
